body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5vmin 0;
  font-size: 4vmin;
}

#controls div, #controls button {
    margin: 0 1vw;
}

#score {
  text-align: center;
}

button, input, label {
  margin: 5vmin 0;
  font-size: 4vmin;
}

#blackbox {
  position: relative;
  width: 90vmin;
  margin: auto;
}

h1 {
  font-family: 'Passion One';
	font-size: 20vmin;
  text-align: center;
  margin: 13vmin 0;
}

p {
	font-size: 3vmin;
}

.grid, .cell {
  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  /* Horizontal Centering */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* Vertical Centering */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cell {
  background-color: #eee;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.cell:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.cell:hover {
  background-color: #9e9e9e;
  /*background-image:
    radial-gradient(
      circle at 60% 40%,
      #eeeeee,
      #9e9e9e 50%
    );*/
  border-color: white;
  border-style: solid;
}

.corner {
  background-color: white;
}

.hit {
  border-radius: 50%;
  stroke: #212121;
  background-color: #212121;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #757575,
      #212121 50%
    );
}

.reflect {
  border-radius: 50%;
  stroke: #fff;
  background-color: #eee;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #fff,
      #e0e0e0 75%
    );
  /*border: .5vmin solid #eeeeee;*/
}

.guess, .not-found {
  border-radius: 50%;
  background-color: #9e9e9e;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #eeeeee,
      #9e9e9e 50%
    );
}

.guess-wrong:before {
  content: "\2717"; /* cross */
  color: #f44336;
  /*background-color: #f44336;*/
  /*background-image: radial-gradient( circle at 60% 40%, #ef9a9a, #f44336 50% );*/
}

.guess-right:before {
  content: "\2713"; /* tick */
  color: #4caf50;
  /* background-color: #4caf50; */
  /* background-image: radial-gradient( circle at 60% 40%, #a5d6a7, #4caf50 50% ); */
}

.ray-1 {
  border-radius: 50%;
  stroke: #e91e63;
  background-color: #e91e63;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #f48fb1,
      #e91e63 50%
    );
}

.ray-2 {
  border-radius: 50%;
  stroke: #673ab7;
  background-color: #673ab7;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #b39ddb,
      #673ab7 50%
    );
}

.ray-3 {
  border-radius: 50%;
  stroke: #03a9f4;
  background-color: #03a9f4;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #81d4fa,
      #03a9f4 50%
    );
}

.ray-4 {
  border-radius: 50%;
  stroke: #8bc34a;
  background-color: #8bc34a;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #c5e1a5,
      #8bc34a 50%
    );
}

.ray-5 {
  border-radius: 50%;
  stroke: #ffeb3b;
  background-color: #ffeb3b;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #fff59d,
      #ffeb3b 50%
    );
}

.ray-6 {
  border-radius: 50%;
  stroke: #ff5722;
  background-color: #ff5722;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #ffab91,
      #ff5722 50%
    );
}

.ray-7 {
  border-radius: 50%;
  stroke: #607d8b;
  background-color: #607d8b;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #b0bec5,
      #607d8b 50%
    );
}

.ray-8 {
  border-radius: 50%;
  stroke: #9c27b0;
  background-color: #9c27b0;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #ce93d8,
      #9c27b0 50%
    );
}

.ray-9 {
  border-radius: 50%;
  stroke: #009688;
  background-color: #009688;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #80cbc4,
      #009688 50%
    );
}

.ray-10 {
  border-radius: 50%;
  stroke: #cddc39;
  background-color: #cddc39;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #e6ee9c,
      #cddc39 50%
    );
}

.ray-11 {
  border-radius: 50%;
  stroke: #795548;
  background-color: #795548;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #bcaaa4,
      #795548 50%
    );
}

.ray-12 {
  border-radius: 50%;
  stroke: #3f51b5;
  background-color: #3f51b5;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #9fa8da,
      #3f51b5 50%
    );
}

.ray-13 {
  border-radius: 50%;
  stroke: #ffc107;
  background-color: #ffc107;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #ffe082,
      #ffc107 50%
    );
}

.ray-14 {
  border-radius: 50%;
  stroke: #00bfa5;
  background-color: #00bfa5;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #1de9b6,
      #00bfa5 50%
    );
}

.ray-15 {
  border-radius: 50%;
  stroke: #ff9800;
  background-color: #ff9800;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #ffcc80,
      #ff9800 50%
    );
}

.ray-16 {
  border-radius: 50%;
  stroke: #00bcd4;
  background-color: #00bcd4;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #80deea,
      #00bcd4 50%
    );
}

.ray-17 {
  border-radius: 50%;
  stroke: #2196f3;
  background-color: #2196f3;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #90caf9,
      #2196f3 50%
    );
}

.ray-18 {
  border-radius: 50%;
  stroke: #f44336;
  background-color: #f44336;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #e57373,
      #f44336 50%
    );
}

.ray-19 {
  border-radius: 50%;
  stroke: #ffff00;
  background-color: #ffff00;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #ffff8d,
      #ffff00 50%
    );
}

.ray-20 {
  border-radius: 50%;
  stroke: #00e676;
  background-color: #00e676;
  background-image:
    radial-gradient(
      circle at 60% 40%,
      #b9f6ca,
      #00e676 50%
    );
}


 /* svg properties */
svg {
  position: absolute;
}

path {
  stroke-width: 0.5;
  stroke: blue;
  fill: none;
}



/* Sizes – Number of cells per row */

.cell-18 {
  flex-basis: 4vmin;
  margin: 0.5vmin;
  font-size: 4vmin;
}

.cell-17 {
  flex-basis: 4.2vmin;
  margin: 0.5vmin;
  font-size: 4.2vmin;
}

.cell-16 {
  flex-basis: 4.6vmin;
  margin: 0.5vmin;
  font-size: 4.6vmin;
}

.cell-15 {
  flex-basis: 4.9vmin;
  margin: .5vmin;
  font-size: 4.9vmin;
}

.cell-14 {
  flex-basis: 5.4vmin;
  margin: .5vmin;
  font-size: 5.4vmin;
}

.cell-13 {
  flex-basis: 5.9vmin;
  margin: .5vmin;
  font-size: 5.9vmin;
}

.cell-12 {
  flex-basis: 6vmin;
  margin: .5vmin;
  font-size: 6vmin;
}

.cell-11 {
  flex-basis: 7vmin;
  margin: .5vmin;
  font-size: 7vmin;
}

.cell-10 {
  flex-basis: 7vmin;
  margin: 1vmin;
  font-size: 7vmin;
}

.cell-9 {
  flex-basis: 8vmin;
  margin: 1vmin;
  font-size: 9vmin;
}

.cell-8 {
  flex-basis: 9vmin;
  margin: 1vmin;
  font-size: 9vmin;
}
