.blackbox-container {
  height: 100vmin;
}

.blackbox {
  height: 100%;
}

.controls,
.controls > div,
.score,
.score > div {
  margin: 1rem auto;
}

.footer {
  float: left;
  margin: 2rem 0;
  text-align: left;
  width: 100%;
}

.grid .cell {
  float: left;
  margin: 0.25%;
}

.grid-size-6 .cell {
  width: 12%;
}

.grid-size-7 .cell {
  width: 10.6111%;
}

.grid-size-8 .cell {
  width: 9.5%;
}

.grid-size-9 .cell {
  width: 8.59%;
}

.grid-size-10 .cell {
  width: 7.83%;
}

.grid-size-11 .cell {
  width: 7.19%;
}

.grid-size-12 .cell {
  width: 6.64%;
}

.grid-size-13 .cell {
  width: 6.1666666%;
}

.grid-size-14 .cell {
  width: 5.75%;
}

.grid-size-15 .cell {
  width: 5.382%;
}

.grid-size-16 .cell {
  width: 5.055%;
}

@media all and (orientation: landscape) {
  .blackbox-container {
    float: left;
    height: auto;
    width: 66.6666666667%;
  }

  .blackbox {
    margin: 0 auto;
    max-width: 100vmin;
  }

  .controls,
  .score {
    float: right;
    width: 33.3333333333%;
  }

  .controls {
    margin-bottom: 10vh;
  }
}
