.blackbox {
  display: grid;
}

.grid .cell {
  margin: 2%;
  width: inherit;
}

@media all and (orientation:landscape) {
  /* Use grids */
  .blackboxapp {
    display: grid;
    grid-template-areas:
      "header header"
      "blackbox controls"
      "blackbox score"
      "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10rem 1fr 1fr 10rem;
  }

  .header {
    grid-area: header;
  }

  .controls {
    grid-area: controls;
  }

  .blackbox {
    align-self: center;
    grid-area: blackbox;
  }

  .score {
    grid-area: score;
  }

  .footer {
    grid-area: footer;
  }
}

.blackbox.grid-size-6 {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.blackbox.grid-size-7 {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.blackbox.grid-size-8 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.blackbox.grid-size-9 {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
}

.blackbox.grid-size-10 {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.blackbox.grid-size-11 {
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(13, 1fr);
}

.blackbox.grid-size-12 {
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
}

.blackbox.grid-size-13 {
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.blackbox.grid-size-14 {
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.blackbox.grid-size-15 {
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
}

.blackbox.grid-size-16 {
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

@supports (display:grid) {
}
