//
// Flex layout
//

/* reset float layout */

@media (orientation: landscape) {
  .controls,
  .score {
    float: none;
    width: auto;
  }
}

/* Flex Layout - fallback for browsers that don't support grid */

//flex containers
.main-container {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.controls,
.score {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

//flex items
.controls {
  order: 1;
}
.blackbox-container {
  order: 2;
}
.score {
  order: 3;
}

.blackbox-container,
.controls,
.score {
  align-self: auto;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

//sizing
.main-container {
  margin: auto;
  //  min-height: 100vmin;
  max-width: 200vmin;
}

.controls,
.score {
  height: auto;
  margin: 1rem auto;
  //min-width: 50vmin;
}

.blackbox-container,
.blackbox {
  min-height: 95vmin;
  min-width: 95vmin;
}

.controls > div,
.score > div {
  margin: 0.5rem;
}

.footer {
  width: 100%;
}

// landscape
@media (orientation: landscape) and (min-aspect-ratio: 3/2) and (min-height: 500px) {
  .blackbox-container {
    order: 3;
  }
  .score {
    order: 2;
  }
  .main-container {
    max-height: 100vmin;
    max-width: 150vmin;
  }
  .controls,
  .score {
    flex-direction: column;
    height: 50vmin;
    margin: 0;
  }
}

@media (orientation: landscape) and (min-aspect-ratio: 2/1) and (min-width: 1000px) {
  .blackbox-container {
    order: 2;
  }
  .score {
    order: 3;
  }
  .main-container {
    max-height: 100vmin;
    max-width: 200vmin;
  }
  .controls,
  .score {
    flex-direction: column;
    height: 100vmin;
  }
}
