.main-container,
.controls,
.score,
.blackbox-container,
.blackbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.controls > div,
.score > div {
  background-color: red;
  height: 2rem;
  margin: 0.3rem;
  width: 10rem;
}
